# Binaries
/zimlite
/zimlite-*

# Downloaded libs
/lib/libzim_*/

# Build output
/dist/

# Go
vendor/

# Test files
/test.md
/test_image.png
/test_rich.md
/scratch/

*.zim
*.zim.info
*.zim.part
config.json
TODO.md
testdata
