# {{T "help.title"}}

| | |
| :--- | :--- |
| **{{T "help.navigation"}}** | `D-Pad` or `Left Stick` |
| **{{T "help.scroll"}}** | `L1` / `R1` (Bumpers) |
| **{{T "help.open_link"}}** | `A` |
| **{{T "help.go_back"}}** | `B` |
| **{{T "help.main_menu"}}** | `Y` |
| **{{T "help.toc"}}**| `X` |
| **{{T "help.zoom"}}** | `L2` / `R2` (Triggers) |
| **{{T "help.help"}}**          | `Start` |
| **{{T "help.settings"}}**      | `Menu` |
| **{{T "help.exit"}}**          | `Select` + `Menu` |
