# {{T "help.title"}}

| | |
| :--- | :--- |
| **{{T "help.navigation"}}** | `Arrows` or `W` `A` `S` `D` |
| **{{T "help.scroll"}}** | `Space` / `PageUp` / `PageDown` |
| **{{T "help.open_link"}}** | `Enter` / `Left Mouse Click` |
| **{{T "help.go_back"}}** | `Backspace` / `Right Mouse Click` |
| **{{T "help.main_menu"}}** | `M` |
| **{{T "help.toc"}}**| `T` |
| **{{T "help.zoom"}}** | `+` / `-` |
| **{{T "help.help"}}** | `F1` |
| **{{T "help.settings"}}** | `F2` |
| **{{T "help.exit"}}** | `Q` |
