# Gamepad Shortcuts

| | |
| :--- | :--- |
| **Navigation** | `D-Pad` or `Left Stick` |
| **Scroll Page** | `L1` / `R1` (Bumpers) |
| **Open Link** | `A` |
| **Go Back** | `B` |
| **Main Menu** | `Y` |
| **Table of Contents**| `X` |
| **Zoom In/Out** | `L2` / `R2` (Triggers) |
| **Toggle Theme** | `Select` |
| **Exit** | `Home` |

---

<br>
<br>

> [!TIP]
> Use the trigger buttons (`L2` / `R2`) on the gamepad to quickly resize text!
