# ❓ Help

| | |
| :--- | :--- |
| **🧭 Navigation** | `Arrows` or `W` `A` `S` `D` |
| **📜 Scroll Page** | `Space` / `PageUp` / `PageDown` |
| **🔗 Open Link** | `Enter` / `Left Mouse Click` |
| **🔙 Go Back** | `Backspace` / `Right Mouse Click` |
| **🏠 Main Menu** | `M` |
| **📑 Table of Contents**| `T` |
| **🔍 Zoom In/Out** | `+` / `-` |
| **❓ Help** | `F1` |
| **⚙️ Settings** | `F2` |
| **🚪 Exit** | `Q` |
