# {{T "library.title_languages"}}

[{{T "library.back"}}](virtual:menu)

{{T "library.select_language"}}

{{range .Entries}}{{if .Language}}* [{{.Title}} ({{Tf "library.archives_count" .Count}})](virtual:library/categories?lang={{.Language}}&name={{urlquery .Title}})
{{end}}{{end}}
