# {{T "library.title_entries"}} {{.LanguageName}} - {{.Category}}

[{{T "library.back_categories"}}](virtual:library/categories?lang={{.Language}}&name={{urlquery .LanguageName}})

{{if not .Entries}}
{{if gt .Page 0}}*{{T "library.no_entries"}}*{{else}}*{{T "library.no_archives"}}*{{end}}
{{else}}
{{range .Entries}}
### {{.Title}}

{{if .Summary}}{{.Summary}}
{{end}}

[⬇ {{T "library.download"}} {{.Filename}}](virtual:library/download?url={{urlquery .DownloadURL}}&filename={{urlquery .Filename}}) ({{.Size}})

---
{{end}}
{{if gt .Page 0}}[{{T "library.prev_page"}}](virtual:library/entries?lang={{.Language}}&name={{urlquery .LanguageName}}&category={{urlquery .Category}}&page={{.PrevPage}})  {{end}}{{if .HasNextPage}}[{{T "library.next_page"}}](virtual:library/entries?lang={{.Language}}&name={{urlquery .LanguageName}}&category={{urlquery .Category}}&page={{.NextPage}}){{end}}
{{end}}
