# {{T "library.title_categories"}} {{.LanguageName}}

[{{T "library.back"}}](virtual:library)

{{T "library.select_category"}}

{{range .Categories}}* [{{.Title}}](virtual:library/entries?lang={{$.Language}}&name={{urlquery $.LanguageName}}&category={{.Category}})
{{end}}
