# {{T "menu.title"}}

[{{T "menu.help"}}](virtual:help)

[{{T "menu.settings"}}](virtual:settings)

{{if .InternetAvailable}}
[{{T "menu.library"}}](virtual:library)
{{end}}

{{if .Downloads}}
## {{T "menu.downloads"}}

| | | | |
|------|------|--------|--------|
{{range .Downloads}}| {{.DisplayName}} | {{.Size}} | {{if .Active}}[⏸ {{T "menu.stop"}}](virtual:download/stop?file={{urlquery .Name}}){{else}}[▶ {{T "menu.start"}}](virtual:download/start?file={{urlquery .Name}}){{end}} | [❌ {{T "menu.delete"}}](virtual:download/delete?file={{urlquery .Name}}) |
{{end}}
{{end}}

{{if .ZIMs}}
## {{T "menu.archives"}}

| | | |
|------|------|--------|
{{range .ZIMs}}| [{{.DisplayName}}]( {{.Name}} ) | {{.Size}} | [❌ {{T "menu.delete"}}](virtual:delete?file={{urlquery .Name}}) |
{{end}}
{{end}}


{{if not .HasContent}}
*{{T "menu.no_content"}}*
{{end}}
