# 📖 Kiwix SDL Document Menu

[❓ Help & Shortcuts](virtual:help)

[⚙️ Settings](virtual:settings)

{{if .InternetAvailable}}
[📥 Browse and Download ZIM Archives](virtual:library)
{{end}}

{{if .Downloads}}
## ⬇️ Downloads

| | | | |
|------|------|--------|--------|
{{range .Downloads}}| {{.DisplayName}} | {{.Size}} | {{if .Active}}[⏸ Stop](virtual:download/stop?file={{urlquery .Name}}){{else}}[▶ Start](virtual:download/start?file={{urlquery .Name}}){{end}} | [🗑️ Delete](virtual:download/delete?file={{urlquery .Name}}) |
{{end}}
{{end}}

{{if .ZIMs}}
## 📦 ZIM Archives

| | | |
|------|------|--------|
{{range .ZIMs}}| [{{.DisplayName}}]( {{.Name}} ) | {{.Size}} | [🗑️ Delete](virtual:delete?file={{urlquery .Name}}) |
{{end}}
{{end}}

{{if .Docs}}
## 📄 Documents

| | | |
|------|------|--------|
{{range .Docs}}| [{{.DisplayName}}]( {{.Name}} ) | {{.Size}} | [🗑️ Delete](virtual:delete?file={{urlquery .Name}}) |
{{end}}
{{end}}

{{if not .HasContent}}
*📭 No documents or ZIM archives found in current directory.*
{{end}}
