# {{T "settings.title"}}

| | |
| :--- | :--- |
| **{{T "settings.theme"}}** | [◀](virtual:settings?theme={{.ThemePrev}}) **{{.ThemeName}}** [▶](virtual:settings?theme={{.ThemeNext}}) |
| **{{T "settings.fontsize"}}** | [➖](virtual:settings?fontsize=-2) **{{.FontSize}}** [➕](virtual:settings?fontsize=2) |
| **{{T "settings.language"}}** | [◀](virtual:settings?lang={{.LangPrev}}) **{{.LangName}}** [▶](virtual:settings?lang={{.LangNext}}) |

---

<br>
<br>

> [!NOTE]
> 💾 {{T "settings.save_note"}}
